.chat-page {
    min-height: var(--fullheight);
    .chat-chat {
        background-color: #000;
        position: relative;
        width: 85%;
        margin: 0 auto;
        .chat__info {
            border-bottom: 1px solid var(--gray-color);
            padding: 5px;
            p {
                color: #fff;
                font-family: Tiny5;
            }
        }
        .chat-chat__messages {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            height: 650px;
            padding: 15px;
            &::-webkit-scrollbar {
                width: 3px;
                background-color: #000;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--gray-color);
            }
            .chat-chat__message_btn {
                margin-bottom: var(--mgdft);
            }
            .chat-chat__message {
                background-color: #fff;
                width: fit-content;
                padding: 7px;
                margin-top: 5px;
                border-radius: 12px;
                .chat-chat__message_user {
                    color: #000;
                    display: block;
                    font-weight: 700;
                    font-size: 12px;
                    margin-bottom: 2px;
                    &:hover {
                        color: var(--gold-color);
                    }
                }
                .chat-chat__message_text {
                    color: #000;
                    font-size: 15px;
                    hyphens: auto;
                }
            }
            .message_owner {
                align-self: flex-end;
                background-color: #026199;
                .chat-chat__message_user {
                    display: none;
                }
                .chat-chat__message_text {
                    color: #fff;
                }
            }
            .chat-chat__message_empty {
                color: #000;
                background-color: #fff;
                border-radius: 12px;
                padding: 7px;
                font-family: Tiny5;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .chat-chat__items {
            .chat-chat__input {
                width: 88%;
            }
            .chat-chat__btn {
                width: 12%;
                border-radius: 0;
            }
        }
    }
}