.hasteam-page {
    .hasteam-info {
        .hasteam-info__item {
            color: #fff;
            margin-top: 10px;
            font-size: 20px;
            hyphens: auto;
        }
    }
    .hasteam-btns {
        button {
            margin: var(--mgbtn);
        }
    }
    .hasteam-list {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        .hasteam-list__title {
            color: #fff;
            font-family: Tiny5;
            font-weight: 400;
            padding: 15px;
        }
        .hasteam-list__item {
            background-color: #000;
            td {
                color: #fff;
                text-align: center;
                padding: 15px;
                a {
                    color: #fff;
                    &:hover {
                        color: var(--gold-color);
                    }
                }
            }
        }
    }
    .hasteam-modal {
        .hasteam-modal__error {
            color: var(--red-color);
            font-weight: 700;
        }
        .hasteam-modal__info {
            margin-bottom: var(--mgdft);
            input {
                display: block;
                margin-bottom: var(--mgdft);
            }
            textarea {
                width: 100%;
            }
        }
    }
}