.profile-page {
    .profile-info {
        display: flex;
        .profile-info__img {
            margin-right: 100px;
        }
        .profile-info__item {
            color: #fff;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .profile-btns {
        button {
            margin: var(--mgbtn);
        }
    }
    .profile-modal {
        .profile-modal__info {
            input {
                display: block;
                margin: 0 auto var(--mgdft);
            }
        }
    }
}