.someteam-page {
    .someteam__requested {
        color: var(--gold-color);
        font-family: Tiny5;
    }
    .someteam-modal {
        textarea {
            display: block;
            margin: 0 auto var(--mgdft);
        }
    }
}