.nav {
    background-color: var(--darkgray-color);
    margin-bottom: 10px;
    .nav__inner {
        padding: 25px;
        display: flex;
        justify-content: space-between;
        .nav-info {
            display: flex;
            align-items: center;
            .nav-info__logo {
                color: #fff;
                font-family: Tiny5;
                font-size: 20px;
                cursor: default;
            }
            .nav-info__link {
                color: #fff;
                margin-left: 40px;
                font-family: Tiny5; 
                &:hover {
                    color: var(--gold-color);
                }
            }
        }
    }
    .nav-links {
        display: flex;
        align-items: center;
        .nav-links__item {
            color: #fff;
            margin-left: 30px;
            font-family: Tiny5;
            &:hover {
                color: var(--gold-color);
            }
        }
    }
}